body{
	background: #151914;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	color: whitesmoke;
}
#main{
	height: 320px;
	width: 650px;
	display: grid;
	margin: 100px;
	grid-template-columns: repeat(3, 1fr);
	background: #353934;
	justify-items: center;
	padding-top: 30px;
}
#main div{
	height: 130px;
	width: 130px;
	border-radius: 50%;
	background: #0000;
	cursor: pointer;
}
.message{
	position: absolute;
	height: 90px;
	width: 220px;
	align-self: center;
	background: #ededed;
	text-align: center;
	padding-top: 50px;
	font-size: 30px;
	cursor: pointer;
	color: black;
	box-shadow: 0 0 0px 1000px #00000085;
}
#color{
	position: absolute;
}
#score{
	position: absolute;
	margin-left: 57%;
	font-size: 20px;
}